## Niche API Swagger Spec
## Author: Scott Farley
## Created: 6/13/2016
swagger: '2.0' ## use this version of swagger
info:
  title: Niche API
  description: Simple REST API to access climate data at specific points in space and time.  Developed at UW Madison, Geography.
  version: "1.0.0" ## first version
# the domain of the service
host: niche.geography.wisc.edu
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v1 ## this is version one of the api
produces:
  - application/json ## always produces json
paths:
  /variables:
    get:
      summary: List Niche Variables
      description: |
        The variables endpoint shows a list of the variable components that are stored in the database, and their units, averaging periods, and descriptions.
      parameters:
        - name: variableType
          in: query
          description: Variable type
          required: false
          type: string
          
        - name: variablePeriod
          in: query
          description: The time period represented by the variable
          required: false
          type: number
          format: integer
        
        - name: variablePeriodType
          in: query
          description: Defintion of the type of time period used by the variable
          required: false
          type: string
        
        - name: averagingPeriod
          in: query
          description: The number of periods over which the data is averaged
          required: false
          type: number
          format: integer
        
        - name: averagingPeriodType
          in: query
          description: Definition of the type of time period over which the data is averaged
          required: false
          type: string
        
        - name: variableUnits
          in: query
          description: The units that the variable is reported in
          type: string
          required: false
 
      tags:
        - variables
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status
              data:
                type: array
                description: Array of variable objects meeting the query parameters.
                items:
                  $ref: '#/definitions/Variable'
              
    post:
      summary: Add a new niche variable
      description: |
        Add a new variable to the database.  When using this resource, the variable type, averaging type, periodType, and variableUnits must all be previously defined in their respective tables.
      parameters:
        - name: variableType
          in: query
          description: Variable type
          required: true
          type: string
          
        - name: variablePeriod
          in: query
          description: The time period represented by the variable
          required: true
          type: number
          format: integer
        
        - name: variablePeriodType
          in: query
          description: Defintion of the type of time period used by the variable
          required: true
          type: string
        
        - name: averagingPeriod
          in: query
          description: The number of periods over which the data is averaged
          required: true
          type: number
          format: integer
        
        - name: averagingPeriodType
          in: query
          description: Definition of the type of time period over which the data is averaged
          required: true
          type: string
        
        - name: variableUnits
          in: query
          description: The units that the variable is reported in
          type: string
          required: true
          
        - name: description
          in: query
          type: string
          description: A plain text description of the variable
          required: true
        
      tags:
        - variables
      responses:
        201:
          description: Object created
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status
              success:
                type: boolean
                description: Flag showing operation success.
        400:
          description: Parameters not set
          schema: 
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status
              success:
                type: boolean
                description: Flag showing operation success.
        200:
          description: Object already exists
          schema: 
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
  /variables/{variableID}:
    get:
      summary: Get details about a specific variable
      description: Get full details about a specific variable in the database by using its variableID.
      produces:
        - application/json
      parameters:
        - name: variableID
          in: path
          description: Database id of variable
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Query Succeeded
          schema:
            $ref: '#/definitions/Variable'
        404:
          description: Object Not Found
          schema:
            $ref: '#/definitions/EmptyResponse'
    delete:
      description: Deletes the variable with the provided id
      parameters:
        - name: variableID
          in: path
          description: Database id of variable
          required: true
          type: integer
          format: int64
      responses:
        204:
          description: Object deleted or did not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      description: Update the variable with the provided id
      parameters:
        - name: variableID
          in: path
          description: Database id of the variable
          required: true
          type: integer
          format: int64
        - name: variablePeriod
          in: query
          description: The time period represented by the variable
          required: false
          type: number
          format: integer
        
        - name: variablePeriodType
          in: query
          description: Defintion of the type of time period used by the variable
          required: false
          type: string
        
        - name: averagingPeriod
          in: query
          description: The number of periods over which the data is averaged
          required: false
          type: number
          format: integer
        
        - name: averagingPeriodType
          in: query
          description: Definition of the type of time period over which the data is averaged
          required: false
          type: string
          
        - name: variableUnits
          in: query
          description: The units that the variable is reported in
          type: string
          required: false
      responses:
        201:
          description: Object Modified
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/Variable'
        400:
          description: Parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
        
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        
  /variableTypes:
    get:
      summary: Get a list of variable types in the database.
      parameters:
        - name: abbreviation
          in: query
          type: string
          required: false
          description: Case insensitive abbreviation of the variable type (e.g., tmax)
        - name: variableName
          in: query
          type: string
          required: false
          description: Full name of the variable type
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariableType'
    post:
      summary: Add a new variable type to the database
      parameters:
        - name: abbreviation
          in: query
          type: string
          required: true
          description: Case insensitive abbreviation of the variable type (e.g., tmax)
        - name: variableName
          in: query
          type: string
          required: true
          description: Full name of the variable type
      responses:
        200:
          description: Object already exists
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
        201:
          description: Object Created
          schema:
            $ref: "#/definitions/EmptyResponse"
            
  /variableTypes/{variableTypeID}:
    get:
      summary: Get details about a specific variable type
      parameters:
        - name: variableTypeID
          in: path
          required: true
          type: integer
          description: Database ID of the variable type
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariableType'
        400:
          description: Parameters not set 
          schema:
            $ref: "#/definitions/EmptyResponse"
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      summary: Update details about a specific variable type in the database
      parameters:
        - name: variableTypeID
          in: path
          required: true
          type: integer
          description: Database ID of the variable type
        - name: abbreviation
          in: query
          type: string
          description: Abbreviation of the variable type
          required: false
        - name: variableName
          in: query
          required: false
          type: string
          description: Full name of the variable type
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariableType'
        400:
          description: Parameters not set 
          schema:
            $ref: "#/definitions/EmptyResponse"
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
    delete:
      summary: Delete a variable type instance using its variableID
      parameters:
        - name: variableTypeID
          in: path
          type: integer
          required: true
      responses:
        204:
          description: Object deleted or did not exist.
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
  /variableUnits:
    get:
      summary: Get a list of variable units in the database
      description: Variable units describe the units in which the data is measured.  
      parameters:
        - name: unitName
          in: query
          type: string
          required: false
          description: The name of the unit in which a variable is measured (e.g., centimeters).
        - name: abbreviation
          in: query
          type: string
          required: false
          description: The abbreviation of the unit in which a variable is measured (e.g., cm).
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: mm-dd-yyyy hh:mm
                description: Time at which the server minted the response
              status: 
                type: integer
                description: HTTP response code
              message:
                type: string
                description: Optional server-generated message describing errors or warnings
              succes:
                type: boolean
                description: Flag indicating successful compleition of the operation.
              data:
                type: array
                items:
                  $ref: "#/definitions/VariableUnit"
    post:
      summary: Add a new variable unit to the database
      parameters:
        - name: unitName
          in: query
          type: string
          required: true
          description: The name of the unit in which a variable is measured (e.g., centimeters).
        - name: abbreviation
          in: query
          type: string
          required: true
          description: The abbreviation of the unit in which a variable is measured (e.g., cm).
      responses:
        201: 
          description: Object Created
          schema:
            $ref: "#/definitions/EmptyResponse"
        400: 
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
        200:
          description: Object exists
          schema:
            $ref: "#/definitions/EmptyResponse"
  /variableUnits/{variableUnitID}:
    get:
      summary: Get details about a specific variable unit instance
      parameters:
        - name: variableUnitID
          type: integer
          required: true
          description: Database id for this variable unit
          in: path
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariableUnit'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      description: Update details of a specific variable unit instance
      parameters:
        - name: variableUnitID
          type: integer
          in: path
          description: Database id for this variable unit
          required: true
        - name: unitName
          in: query
          type: string
          required: false
          description: The name of the unit in which a variable is measured (e.g., centimeters).
        - name: abbreviation
          in: query
          type: string
          required: false
          description: The abbreviation of the unit in which a variable is measured (e.g., cm).
      responses:
        201:
          description: Object modified
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariableUnit'
        404:  
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    delete:
      summary: Delete a variable unit using its database id
      parameters:
        - name: variableUnitID
          type: integer
          required: true
          description: Database id for this variable unit
          in: path
      responses:
        204:
          description: Object deleted or did not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
  /variablePeriodTypes:
    get:
      summary: Get a list of the variable period types in the database.
      description: Variable period describe the period of time represented by the dataset.  For example, months.  Not to be confused with averagingTypes.
      parameters:
        - name: name
          required: false
          type: string
          description: The name of the variable period type (e.g., Month)
          in: query
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariablePeriod'
    post:
      summary: Add a new variable period type to the database
      parameters:
        - name: name
          type: string
          required: true
          in: query
          description: Name of the variable period type (e.g., Month)
      responses:
        201:
          description: Object Created
          schema: 
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
        200:
          description: Object already exists
          schema:
            $ref: "#/definitions/EmptyResponse"
  /variablePeriodTypes/{variablePeriodTypeID}:
    get:
      summary: Get a details about a specific variable period type using its variablePeriodTypeID.
      parameters:
        - name: variablePeriodTypeID
          type: integer
          required: true
          description: Database id for this variable period type
          in: path
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariablePeriod'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      summary: Update the details of a specific variable period using its variablePeriodTypeID
      parameters:
        - name: variablePeriodTypeID
          type: integer
          required: true
          description: Database id for this variable period type
          in: path
        - name: name
          type: string
          required: false
          description: Name of the variable period type
          in: query
      responses:
        201: 
          description: Object Modified
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                    $ref: '#/definitions/VariablePeriod'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    delete: 
      summary: Delete an variable period instance using its variablePeriodTypeID
      parameters:
        - name: variablePeriodTypeID
          type: integer
          required: true
          description: Database id for this variable period type
          in: path
      responses:
        204:
          description: Object deleted or did not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
  /averagingTypes:
    get:
      summary: Get a list of the averaging types in the database
      description: Averaging types describe the length of time over which the dataset was averaged.  For example, decadal averages. Not to be confused with variablePeriods.
      parameters:
        - name: name
          type: string
          required: false
          description: The name of the averaging period type
          in: query
      responses:
        200: 
          description: Success
          schema: 
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/AveragingPeriod'
    post:
      summary: Add a new averaging period to the database
      parameters:
        - name: name
          type: string
          description: The name of the averaging period type
          in: query
          required: true
        - name: days
          type: integer
          description: Number of days in the averaging period
          required: true
          in: query
      responses:
        201:
          description: Object Created
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
        200:
          description: Object already exists
          schema:
            $ref: "#/definitions/EmptyResponse"
  /averagingTypes/{averagingTypeID}:
    get:
      summary: Get details about a specific averaging type using its averagingTypeID
      parameters:
        - name: averagingTypeID
          type: integer
          description: Database id of this averaging type
          required: true
          in: path
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/AveragingPeriod'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      summary: Update details of a specific averaging type using its averagingTypeID
      parameters:
        - name: averagingTypeID
          type: integer
          description: Database id for this averaging type
          required: true
          in: path
        - name: name
          type: string
          description: The name of the averaging type
          required: false
          in: query
        - name: days
          type: integer
          description: The number of days in the averaging period
          required: false
          in: query
      responses:
        201: 
          description: Object Modified
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/AveragingPeriod'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    delete:
      summary: Delete an averaging type using its averagingTypeID
      parameters:
        - name: averagingTypeID
          type: integer
          description: Database id for this averaging type
          required: true
          in: path
      responses:
        204: 
          description: Object deleted or did not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
  /sources:
    get:
      summary: Get a list of the data sources and models in the database
      description: A source characterizes the details about the model and producer of the data, while a variable characterizes what the dataset is representing. For example, a source is the CCSM 3.0 model, produced by the Community Earth System Modelling group, released in 2004.
      parameters:
        - name: producer
          type: string
          required: false
          description: The organization or entity responsible for maintaining or distributing the data and/or models
          in: query
        - name: model
          type: string
          description: The name of the model that produced the data
          required: false
          in: query
        - name: modelVersion
          type: string
          description: The version or release of the model used to produce the data
          required: false
          in: query
        - name: modelScenario
          type: string
          description: The scenario or forcings used in the model run
          required: false
          in: query
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/Source'
    post:
      summary: Add a new source to the database.
      parameters:
        - name: producer
          type: string
          required: true
          description: The organization or entity responsible for maintaining or distributing the data and/or models
          in: query
        - name: model
          type: string
          description: The name of the model that produced the data
          required: true
          in: query
        - name: modelVersion
          type: string
          description: The version or release of the model used to produce the data
          required: true
          in: query
        - name: modelScenario
          type: string
          description: The scenario or forcings used in the model run
          required: true
          in: query
        - name: modelURL
          type: string
          description: Website link with more information about this data source
          required: true
          in: query
      responses:
        201:
          description: Object Created
          schema: 
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
        200:
          description: Object already exists
          schema:
            $ref: "#/definitions/EmptyResponse"
  /sources/{sourceID}:
    get: 
      summary: Get details about an specific source using its sourceID
      parameters:
        - name: sourceID 
          type: integer
          required: true
          description: Database id for this source
          in: path
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/Source'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required paramters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      summary: Update details about a specific source using its sourceID
      parameters:
        - name: sourceID 
          type: integer
          required: true
          description: Database id for this source
          in: path
        - name: producer
          type: string
          required: false
          description: The organization or entity responsible for maintaining or distributing the data and/or models
          in: query
        - name: model
          type: string
          description: The name of the model that produced the data
          required: false
          in: query
        - name: modelVersion
          type: string
          description: The version or release of the model used to produce the data
          required: false
          in: query
        - name: modelScenario
          type: string
          description: The scenario or forcings used in the model run
          required: false
          in: query
      responses:
        201: 
          description: Object Modified
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/Source'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    delete:
      summary: Delete a source using its souce id
      parameters:
        - name: sourceID 
          type: integer
          required: true
          description: Database id for this source
          in: path
      responses:
        204: 
          description: Object deleted or did not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
  
  /layers:
    get:  
      summary: Get a list of the layers in the database
      description: A layer combines a source and a variable with a time period and a pointer to the actual data source.  For example, CCSM 4.0 model [source] produced maximum january temperature [variable] at year 10,0000 B.P. [time period].
      parameters:
        - name: variableType
          description: the type of variable
          required: false
          in: query
          type: string
        - name: variablePeriod
          description: The period of time represented by the variable
          required: false
          in: query
          type: integer
        - name: variablePeriodType
          required: false
          type: string
          description: Definition of the time period represented by the variable
          in: query
        - name: averagingPeriod
          type: integer
          in: query
          required: false
          description: Number of averaging periods over which the data is averaged
        - name: averagingPeriodType
          type: string
          required: false
          description: Definition of the period over which the data is averaged
          in: query
        - name: variableID
          type: integer
          description: The database id for the variable represented by this layer
          required: false
          in: query
        - name: sourceID
          type: integer
          description: The database id for the source represented by this layer
          required: false
          in: query
        - name: sourceProducer
          type: string
          description: The name of the organization that produced this data
          required: false
          in: query
        - name: modelName
          type: string
          description: The name of the model that produced this data
          required: false
          in: query
        - name: modelVersion
          type: string
          description: The version or release of the model that produced the data
          required: false
          in: query
        - name: resolution
          type: number
          required: false
          description: The native resolution at which the data is represented
          in: query
        - name: scenario
          type: string
          description: The scenario or forcing settings used to run the model
          required: false
          in: query
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/Layer'
    post:
      summary: Add a layer to the databases
      deprecated: true
      responses:
        501:
          description: Resource does not exist
  /layers/{layerID}:
    get:
      summary: Get details about a specific layer using its layerID
      parameters:
        - name: layerID
          required: true
          description: Database id for this layer
          type: integer
          in: path
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/Layer'
        404:
          description: Object does not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
    put:
      summary: Update a layer's details using its layerID
      deprecated: true
      parameters:
        - name: layerID
          required: true
          description: Database id for this layer
          type: integer
          in: path
      responses:
        501:
          description: Resource does not exist
    delete:
      summary: Delete a layer and its raster table using its layerID
      parameters:
        - name: layerID
          required: true
          description: Database id for this layer
          type: integer
          in: path
      responses:
        204: 
          description: Object deleted or did not exist
          schema:
            $ref: "#/definitions/EmptyResponse"
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
  /data:
    get:
      summary: Get the value of one or more layers at a space-time location
      parameters:
        - name: latitude
          type: number
          required: true
          description: Latitude component of location
          in: query
        - name: longitude
          type: number
          required: true
          description: Longitude component of location
          in: query
        - name: yearsBP
          type: integer
          required: true
          description: Years before 1950
          in: query
        - name: variableType
          description: the type of variable
          required: false
          in: query
          type: string
        - name: variablePeriod
          description: The period of time represented by the variable
          required: false
          in: query
          type: integer
        - name: variablePeriodType
          required: false
          type: string
          description: Definition of the time period represented by the variable
          in: query
        - name: averagingPeriod
          type: integer
          in: query
          required: false
          description: Number of averaging periods over which the data is averaged
        - name: averagingPeriodType
          type: string
          required: false
          description: Definition of the period over which the data is averaged
          in: query
        - name: variableID
          type: integer
          description: The database id for the variable represented by this layer
          required: false
          in: query
        - name: sourceID
          type: integer
          description: The database id for the source represented by this layer
          required: false
          in: query
        - name: sourceProducer
          type: string
          description: The name of the organization that produced this data
          required: false
          in: query
        - name: modelName
          type: string
          description: The name of the model that produced this data
          required: false
          in: query
        - name: modelVersion
          type: string
          description: The version or release of the model that produced the data
          required: false
          in: query
        - name: resolution
          type: number
          required: false
          description: The native resolution at which the data is represented
          in: query
        - name: scenario
          type: string
          description: The scenario or forcing settings used to run the model
          required: false
          in: query
      responses:
        200: 
          description: Success
          schema:
            type: object
            properties:
              timestamp:
                type: string
                format: YYYY-mm-dd hh:mm
                description: Time at which the server minted the response.
              message:
                type: string
                description: Optional message describing server events or warnings.
              status:
                type: integer
                description: HTTP status  
              success:
                type: boolean
                description: Flag showing operation success.
              data: 
                description: The newly modified object
                type: array
                items:
                  $ref: '#/definitions/Layer'
        400:
          description: Required parameters not set
          schema:
            $ref: "#/definitions/EmptyResponse"
      

      
        
      
        
          
          
          
          
        
      
            
        

definitions:
  Variable:
    type: object
    properties:
      variableDescription: 
        type: string
        description: A plain text description of the variable object.
      variablePeriod:
        type: integer
        description: The time period that the variable represents
      variablePeriodType:
        type: string
        description: Definition of the time period that the variable represented (e.g., month, quarter)
      averagingPeriod:
        type: integer
        description: The number of periods over which the data was averaged.
      averagingPeriodTypes:
        type: string
        description: Definition of the type of averaging period used in producing the data.
      variableUnits:
        type: string
        description: The units in which the dataset is reported.
      variableID: 
        type: integer
        description: The database ID for this variable
      lastUpdate: 
        type: string
        description: The time at which this resource was last updated.
        
  EmptyResponse:
    type: object
    properties:
      timestamp: 
        type: string
        format: mm-dd-YYYY hh:mm
        description: Time at which the server minted the response
      message:
        type: string
        description: Optional server-generated message describing errors or warnings
      status:
        type: integer
        description: Optional server-generated message describing errors or warnings
      success:
        type: boolean
        description: Flag indicating successful compleition of the operation
        
  VariableType:
    type: object
    properties:
      variableTypeID: 
        type: integer
        description: Database id number for this variable type
      abbreviation: 
        type: string
        description: Abbreviation of the type name
      variableType:
        type: string
        description: Full variable type name
  VariableUnit:
    type: object
    properties:
      variableUnitID:
        type: integer
        description: Database id number for this unit type
      unitName:
        type: string
        description: Full name of the measurement unit
      abbreviation:
        type: string
        description: Abbreviated name for the measurement unit
  VariablePeriod:
    type: object
    properties:
      variablePeriodTypeID:
        type: integer
        description: Database id number for this period type
      varaiblePeriodName:
        type: string
        description: The name of this period type
        
  AveragingPeriod:
    type: object
    properties:
      averagingPeriodID: 
        type: integer
        description: Database id number for this averaging type
      averagingPeriodName:
        type: string
        description: Name of this averaging type
      averagingPeriodDays:
        type: integer
        description: Number of days in this averaging type
  Source:
    type: object
    properties:
      sourceID:
        type: integer
        description: Database id number for this source
      producer: 
        type: string
        description: The organization or entity responsible for maintaining or distributing the data and/or models
      model:  
        type: string
        description: The name of the model that produced the data
      scenario: 
        type: string
        description: The scenario or forcings used in the model run
      productVersion: 
        type: string
        description: The version or release of the model used to produce the data
      productURL:
        type: string
        description: Website link for more information about this data source.
      lastUpdate:
        type: string
        format: mm-dd-yyyy hh:mm
        description: Time at which the source was last updated in the database.
  Layer:
    type: object
    properties:
      layerID:
        type: integer
        description: Database id for this layer
      yearsBP: 
        type: integer
        description: Years before 1950 that this layer represents
      variableDescription: 
        type: string
        description: Plain text description of the variable 
      variableType:
          description: the type of variable
          type: string
      variablePeriod:
          description: The period of time represented by the variable
          type: integer
      variablePeriodType:
          type: string
          description: Definition of the time period represented by the variable
      averagingPeriod:
          type: integer
          description: Number of averaging periods over which the data is averaged
      averagingPeriodType:
          type: string
          description: Definition of the period over which the data is averaged
      variableID:
          type: integer
          description: The database id for the variable represented by this layer
      sourceID:
          type: integer
          description: The database id for the source represented by this layer
      producer:
          type: string
          description: The name of the organization that produced this data
      model:
          type: string
          description: The name of the model that produced this data
      modelVersion:
          type: string
          description: The version or release of the model that produced the data
      resolution:
          type: number
          description: The native resolution at which the data is represented
      scenario:
        type: string
        description: The scenario or forcing settings used to run the model
      tableName:
        type: string
        description: A 128-bit universally unique identifier (UUID) that identifies a table in the database in which this layer is stored in binary format.
  
  Result:
    type: object
    properties:
      layerID:
        type: integer
        description: Database id for this layer
      yearsBP: 
        type: integer
        description: Years before 1950 that this layer represents
      sourceID:
        type: integer
        description: The database id for the source represented by this layer
      latitude:
        type: number
        description: Latitude component of location
      longitude:
        type: number
        description: Longitude component of location
      value:
        type: number
        description: Value of this layer at this space-time location
        
  
        
        
        
      
        
      
  

        
      
        
      
        
