## Niche API Swagger Spec
## Author: Scott Farley
## Created: 6/13/2016
## Edited: 11/21/2016
swagger: '2.0' ## use this version of swagger
info:
  title: Niche API
  description: REST API to access gridded climate model data at specific points in time.  Developed specifically to support Ice Age Mapper / Niche Viewer, and to tie into morphospace visualizations of NeotomaDB data. Enables users to select climate data at single space-time points, arrays of space-time points, or time series at single points.  University of Wisconsin, Madison Department of Geography.
  version: "2.0.0" ## version 2 uses node bindings
# during dev, should point to your local machine
host: grad.geography.wisc.edu:8080
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /variables:
    # binds a127 app logic to a route
    x-swagger-router-controller: variables
    get:
      description: Returns a list of the variables that currently have raster data associated with them in the database.  A variable is a unique combination of units, averaging period, variable period, and variable type. 
      operationId: getVariables
      parameters:
        - name: variableType
          in: query
          description: Database ID of the variable type of interest.
          required: false
          type: integer
          
        - name: variablePeriod
          in: query
          description: Variable period by which to filter results.  A variable period type is the period over which the data is representitive. 
          required: false
          type: integer
        
        - name: variablePeriodType
          in: query
          description: String representation of the name of the variable period type over which the data is representitive. Example - month.
          required: false
          type: string
        
        - name: averagingPeriod
          in: query
          description: Period over which the variable has been averaged. 
          required: false
          type: integer
        
        - name: averagingPeriodType
          in: query
          description: String representation of the type of period over which the variable has been averaged. Example - Week.
          required: false
          type: string
          
        - name: variableUnits
          in: query
          description: Canonical SI abbreviation for units in which the variable is measured.
          required: false
          type: string
        
        - name: variableID
          in: query
          description: Database ID of the variable. Returns a single unique variable as the result.
          required: false
          type: integer
          
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/VariableResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /swagger:
    x-swagger-pipe: swagger_raw
    
  /timeseries:
    x-swagger-router-controller: timeseries
    get:
      description: Get all time points in the database for a single spatial location.  References a single variable/source pair.
      operationId: getTimeseries
      parameters:
        - name: latitude
          required: true
          type: number
          description: Latitude of point of interest. 
          in: query
        - name: longitude
          required: true
          type: number
          description: Longitude of point of interest.
          in: query
        - name: variableID
          required: true
          type: number
          description: Database ID of variable of interest.
          in: query
        - name: sourceID
          required: true
          type: number
          description: Database ID of source of interest.
          in: query
      responses:
        "200": 
          description: Success
          schema: 
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /data:
    x-swagger-router-controller: data
    get:
      description: Get data for a single space-time point for a given source and variable combination.
      operationId: getDataPoint
      parameters:
        - name: latitude
          required: true
          type: number
          description: Latitude of point of interest.
          in: query
        - name: longitude
          required: true
          type: number
          description: Longitude of point of interest.
          in: query
        - name: variableID
          required: true
          type: number
          description: Database ID of variable of interest
          in: query
        - name: sourceID
          required: true
          type: number
          description: Database ID of source of interest.
          in: query
        - name: yearsBP
          required: true
          type: number
          description: years before present of point of interest. AD1950 is considered zero in this context.
          in: query
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DataResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      operationId: postData
      description: Get data for an array of space-time points for a given source and variable combination. Each point in the array must specify latitude, longitude, and time.  The source and variables are specified for the request as a whole.
      parameters:
        - name: data
          schema:
            $ref: "#/definitions/PostDataRequest"
          in: body
          required: false
          description: An array of space-time locations for which to get data.
      responses:
        "200":
          description: Success
          schema: 
            $ref: "#/definitions/DataResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /variableTypes:
    x-swagger-router-controller: variableTypes
    get:
      description: Get a list of the variable types in the database. A variable type is a generic representation of what is measured in a dataset. For example, precipitation or maximum temperature.
      operationId: getVariableTypes
      parameters:
        - name: variableTypeId
          required: false
          type: number
          description: Database ID of the variable type
          in: query
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /variablePeriodTypes:
    x-swagger-router-controller: variablePeriodTypes
    get:
      description: Get a list of the time periods a variable could represent. A variable period is period of time represented by the measurement. For example, monthly precipitation has a variable period of months.
      operationId: getVariablePeriodTypes
      parameters:
        - name: variablePeriodTypeId
          required: false
          type: number
          description: Database ID of the variable period type
          in: query
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"  
            
            
  /averagingPeriodTypes:
    x-swagger-router-controller: averagingPeriodTypes
    get:
      description: Get a list of the time periods over which a variable could be averaged.  Averaging period types are the amount of time over which data is averaged.  For example, decadally averaged climate annual precipitation would represent a ten year average, and have an averaging period type of decades.
      operationId: getAveragingPeriodTypes
      parameters:
        - name: averagingPeriodTypeId
          required: false
          type: number
          description: Database ID of the averaging period type.
          in: query
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
            
  /sources:
    x-swagger-router-controller: sources
    get:
      description: Get a list of data sources in the database. A source is the data producer from which the raster data originated.  Each source contains information on the producer of the product, the model used to produced the data, the forcings/emissions scenario used to run the model, and the product version. In the current version, only a single source is supported, Lorenz et al (2016) downscaled north american CCSM3 climate model output. 
      operationId: getSources
      parameters:
        - name: sourceId
          required: false
          type: number
          description: Database ID of the source.
          in: query
          
        - name: scenario
          required: false
          type: number
          description: Emission scenario under which the model was run.
          in: query
        
        - name: version
          required: false
          type: number
          description: The version of the modeling product.
          in: query
          
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"   
            
  /variableUnits:
    x-swagger-router-controller: variableUnits
    get:
      description: Get a list of variable units in the database. A variable unit is the units in which a variable is measured.
      operationId: getVariableUnits
      parameters:
        - name: variableUnitId
          required: false
          type: number
          description: Database ID of the variableUnit.
          in: query
          
        - name: variableUnitAbbreviation
          required: false
          type: string
          description: Abbreviation of the variable unit in SI units.
          in: query
        
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"   
            
  /transect:
    x-swagger-router-controller: transect
    get:
      description: Get environmental data along a user-specified geometry at native raster resolution.
      operationId: getTransect
      parameters:
        - name: variableID
          required: false
          type: number
          description: Database ID of the variable of interest.
          in: query
          
        - name: sourceID
          required: false
          type: number
          description: Database of the data source.
          in: query
          
        - name: yearsBP
          required: false
          type: number
          description: Years before present of interest.
          in: query
          
        - name: geometry
          required: false
          type: string
          description: WKT geometry along which to get environmental data. If a multi-point, returns data at at those points. If line, returns environmental data along the transect.  If polygon, returns the values of all the cells falling within the polygon.
          in: query
        
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"  

  /aggregate:
    x-swagger-router-controller: aggregate
    get:
      description: Average mean environmental data over a user-specified geometry.
      operationId: getAverage
      parameters:
        - name: variableID
          required: false
          type: number
          description: Database ID of the variable of interest.
          in: query
          
        - name: sourceID
          required: false
          type: number
          description: Database of the data source.
          in: query
          
        - name: yearsBP
          required: false
          type: number
          description: Years before present of interest.
          in: query
          
        - name: geometry
          required: false
          type: string
          description: WKT geometry along which to average environmental data. 
          in: query
        
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse" 
  /mapConfigs:
    x-swagger-router-controller: mapConfigs
    get: 
      description: Get Ice Age Mapper map configurations from the database
      operationId: getMapConfig
      parameters:
        - name: configID
          required: false
          description: Database ID of the variable of interest 
          type: string
          in: query
        - name: author
          description: author of the map
          type: string
          in: query
        - name: organization
          type: string
          in: query
          description: organizational unit
        - name: title
          type: string
          description: title of map
          in: query
          
      
      responses:
        "200": 
          description: Success
          schema:
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      description: Add a new map configuration to the database
      operationId: postMapConfig
      parameters:        
        - name: configData
          required: false
          description: JSON representation of map configuration
          in: body
          schema:
            $ref: "#/definitions/ConfigUpload"
        - name: author
          description: Author of the map
          required: false
          in: query
          type: string
        - name: organization
          required: false
          in: query
          type: string
        - name: title
          required: false
          in: query
          type: string
        - name: description
          required: false
          in: query
          type: string

      responses:
        "201":
          description: "Success"
          schema: 
            $ref: "#/definitions/GenericResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        
# complex objects have schema definitions
definitions:
  Variable:
    required: 
      - variableType
      - variableUnits
      - variablePeriod
      - variablePeriodType
      - averagingPeriod
      - averagingPeriodType
      - variableID
      - variableDescription
    properties: 
      variableType:
        description: What the variable represents
        type: string
      variableUnits:
        description: How the variable is measured
        type: string
      variablePeriod:
        description: Period that the variable represents
        type: integer
      variablePeriodType:
        description: Type of period represented by the variable
        type: string
      averagingPeriod:
        description: Period over which the variable is averaged.
        type: integer
      averagingPeriodType:
        description: Type of period over which the variable is average.
        type: string
      variableID:
        type: integer
        description: Database ID of the variable
      variableDescription:
        type: string
        description: Plain text description of the variable.
  
  ConfigUpload:
    properties:
      configData: 
        type: object
  
  TimeSeriesPoint:
    properties:
      id: 
        type: integer
      value:
        type: number
      time:
        type: number
        
  TimeSeriesResponse:
    required:
      - success
      - timestamp
      - latitude
      - longitude
      - data
    properties:
      success:
        type: boolean
        description: Flag to indicate whether the server responded successfully.
      timestamp:
        type: string
        format: date-time
        description: Time at which the response was minted by the server
      latitude:
        type: number
        format: float
      longitude:
        type: number
        format: float
      variable:
        $ref: "#/definitions/Variable"
      data:
        type: array
        items:
          $ref: "#/definitions/TimeSeriesPoint"
  
  GenericResponse:
    properties:
      success: 
        type: boolean
        description: Flag to indicate whether the server responded successfully.
      timestamp:
        type: string
        format: date-time
        description: Time at which the response was minted by the server
      data:
        type: array
        items:
          type: object
          
  DataPoint:
    properties:
      year:
        type: integer
        description: Year before present represented by the response
      above: 
        type: number
        description: Value of the time slice above the year in the interpolation
      below:
        type: number
        description: Value of the time slice below the year in the interpolation
      yearAbove:
        type: integer
        description: Year above in the interpolation
      yearBelow:
        type: integer
        description: Year below in the interpolation
      interp:
        type: number
        description: Interpolated variable value between the yearAbove and the yearBelow
      latitude: 
        type: number
        description: Latitude of POI
      longitude:
        type: number
        description: Longitude of POI
        
  DataResponse:
    properties:
      success:
        type: boolean
        description: Flag to indicate whether the server responded successfully.
      timestamp:
        type: string
        format: date-time
        description: Time at which the response was minted by the server
      variableID:
        type: integer
        description: Variable represented by the response
      sourceID:
        type: integer
        description: Data source of the response
      data:
        type: array
        items:
          $ref: "#/definitions/DataPoint"
      
  VariableResponse:
    required:
      - success
      - timestamp
      - data
    properties:
      success:
        type: boolean
        description: Flag to indicate whether the server responded successfully.
      timestamp:
        type: string
        format: date-time
        description: Time at which the response was minted by the server
      data:
        type: array
        items:
          # $ref: "#/definitions/Variable"
          type: object
        
  ErrorResponse:
    properties: 
      error:
        type: object
        
  PointRequest:
    required:
     - latitude
     - longitude
     - year
    properties:
      latitude:
        type: number
        description: Latitude of POI
      longitude:
        type: number
        description: Longitude of POI
      year:
        type: integer
        description: Years before present of location of interest
      id:
        type: integer
        description: Optional ID number for relating to neotoma or other site identifiers.
  
  PostDataRequest:
    properties:
      points:
        type: array
        items:
          $ref: "#/definitions/PointRequest"
      variableID:
        type: integer
        description: Database ID for the requested variable
      sourceID:
        type: integer
        description: Database ID for the requested data source
            

        
